/* the 'body' selector is required for the tests to pass */
/* You can change the style attributes if you want */
body {
  background-color: #222;
  color: #ddd;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 4em;
}

input[type=text], label {
  margin-bottom: 8px;
}

input[type=submit]{
  box-shadow: 3px 4px 0px 0px #B51AD1;
	background:linear-gradient(to bottom, #B51AD1 5%, #C48DEE 100%);
	background-color:#B51AD1;
	border-radius:18px;
	border:1px solid #B51AD1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #B51AD1;
}
input[type=submit]:hover{
  border: 6px solid #222222;
}
input[type=submit]:active{
  border: 5px solid #C48DEE;
}